* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 75%;
    margin: auto;
    max-width: 1200px;
}
p{
    color: rgb(99, 99, 99);
    font-size: 18px;
    margin-bottom: 15px;
}

h3{
    color:rgb(245,97,140);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
}
h2{
    font-size: 70px;
    font-weight: 700;
    line-height: 1.1;
    margin: 20px 0px;
    text-transform: capitalize;
}
button{
    padding: 20px 35px;
    background: linear-gradient(
        to right,
        rgb(245,97,140) 0,rgb(247,170,89) 51%,rgb(245,97,140)100%);
    text-align: center;
    border-radius: 30px;
    border: none;
    color: white;
    background-size: 200%;
    transition-duration: 0.5s;
    text-transform: uppercase;
    margin-top: 20px;
}
button:hover{
    background-position: right center;
    cursor: pointer;
}

body{
    background-color: none;
}

/* HEADER */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
header .header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}
header nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
header a{
    text-decoration: none;
    color: black;
    font-size: 15px;
}
header i{
    font-size: 9px;
}


nav a span {
    display: inline-block;
    transition: all 1s;
}
nav a:hover {
    color: #f55f8d;
}
nav a:hover span {
    animation: upToDown 0.3s;
}

@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
}
:root {
    --animate-duration: 2s;
}

/* BANNER */

.banner{
    background-image: url(./Images/pic2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.banner__container{
    display: flex;
    align-items: center;
    height: 100%;
    padding-top: 150px;
}
.banner__left{
    width: 60%;
}
.banner__right{
    width: 40%;
    margin-left: 80px;
} 
.banner__image{
    max-width: 100%;
}
.banner ul{
    padding: 10px 0px;
}
.banner li{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.banner li i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    color: white;
    margin-right: 10px;
}
.banner span{
    font-size: 20px;
    color: rgb(99, 99, 99);
}

/* CAROUSEL */
.carousel {
    background-image: url(./Images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.carousel__title{
    width: 100%;
    text-align: center;
    padding-top: 120px;
}
.carousel__list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 50px;
}
.carousel__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 30px 45px;
    border: 1px transparent;
    border-radius: 8px;
    transition-duration: 0.5s;
    transform: translateY(0px);
    box-shadow: 0 0 60px 0 rgba(0,0,0,.1);
}
.carousel__item:hover{
    transform: translateY(-20px);
}
.carousel__item img{
    width: 75%;
}
.carousel__item h3{
    color: black;
    margin: 15px 0px;
}

/* ABOUT US */
.about__us{
    background-image: url(./Images/bg15.png);
    background-size: cover;
    background-position: center;
}
.about__us__content{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    position: relative;
    padding: 120px 0px;
}
.about__us__left{
    width: 60%;
    position: absolute;
    left: -17%;
}
.about__us__left img{
    width: 100%;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
.about__us__right{
    width: 50%;
    height: 100%;
}
.about__us__right li {
    list-style: none;
    display: flex;
    align-items: center;
    line-height: 1.6;
}
.about__us__right li i{
    color: rgb(245,97,140);
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}
.about__us__right li span{
    line-height: 2;
    color:rgb(99, 99, 99);
}


/* NUMBERS */
.numbers{
    background-image: url(./Images/bg14.png);
    width: 100%;
    background-position: center;
    background-size: cover;
}
.number__item{
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number__list{
    display: flex;
    padding: 50px 0px;
    justify-content: space-around;
}
.number__item h2{
    color:rgb(245,97,140);
    font-size: 60px;
    text-transform: uppercase;
    margin-top: 20px;
}
.number__item p{
    font-size: 18px;
    color: black;
    text-transform: capitalize;
}
.number__item i{
    width: 80px;
    height: 80px;
    color:white;
    font-size: 46px;
    line-height: 80px;
    background: linear-gradient(rgb(245,97,140),rgb(247,170,89));
    border-radius: 50%;
    text-align: center;
}
/* FEATURES */
.features{
    background-image: url(./Images/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.features__container{
    display: flex;
    padding-top: 100px;
}
.features__left{
    width: 50%;
}
.features__left__list{
    width: 100%;
}
.left__item{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    display: flex;
    align-items: center;
    margin: 30px 0px;
    padding: 30px;
    position: relative;
    z-index: 1;
    transition: all 1s;
}
#second__item{
    margin-left: 50px;
}
.left__item i{
    color: #f55f8d;
    font-size: 80px;
    line-height: 1;
    z-index: 1;
    transition: all 1s;
}
.left__item div{
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}
.left__item:after {
    content: "";
    position: absolute;
    border-radius: 10px;
    background-image: linear-gradient(
      to right,
      #f55f8d 0,
      #f8ae56 51%,
      #f55f8d 100%
    );
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 1s;
} 
.left__item:hover::after {
    opacity: 1;
}
.left__item:hover p, .left__item:hover h3, .left__item:hover i{
    color: white;
}
.features__right{
    width: 50%;
    z-index: 1;
}
.features__right img{
    max-width: 115%;
    animation: rotate 5s infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(1deg) translate(2px,2px)
    }

    50% {
        transform: rotate(-1deg) translate(-2px,-2px)
    }

    100% {
        transform: rotate(1deg) translate(2px,2px)
    }
}

/* PORTFOLIO */
.portfolio__container{
    background-image: url(./Images/bg17.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 100px;
}
.portfolio__title{
    text-align: center;
}
.portfolio__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 35px;
    padding-top: 30px;
}
.portfolio__item img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.portfolio__item{
    position: relative;
    overflow: hidden;
}
.portfolio__item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    transition: all 0.75s;
}
.portfolio__item:hover .item__overlay {
    opacity: 1;
}
.portfolio__item:hover::before{
    left: 125%;
}
.item1{
    grid-column: 1/3;
}
.item5{ 
    grid-column: 1/3;
}
.item6{
    grid-column: 3/4;
    grid-row: 2/4;
}
.portfolio__item .item__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    opacity: 0;
    transition: all 0.75s;
}
.portfolio__label{
    position: absolute;
    left: 20px;
    bottom: 20px;
    transform: translateY(100%);
    transition: all 0.75s;
}
.portfolio__label h3, .portfolio__label p{
    color: white;
}
.portfolio__item:hover .portfolio__label{
    transform: translateY(0);
}
.portfolio__icon{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 10px;
    font-size: 28px;
    line-height: 50px;
    text-align: center;
    transform: translateX(20px) translateY(-20px);
    transition: all 0.75s;
}
#lg-next-1, #lg-prev-1{
    background:none;
}
.portfolio__icon a{
    cursor: pointer;
}
.portfolio__icon i{
    color: white;
}
.portfolio__item:hover .portfolio__icon{
    transform: translate(0);
}

/* PLAN */
.plan{
    background-image: url(./Images/bg16.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.plan__container{
    padding-top: 150px;
}
.plan__title{
    text-align: center;
}
.plan__list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.plan__item{
    width: 32%;
}
.plan__item .item__container{
    background-color: white;
    border-radius: 8px;
    padding: 40px 60px;
    box-shadow: 1px 0 50px rgb(0,0,0,.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid transparent;
    border-image: 100 round;
    transition: all 0.5s;
}
.plan__item:hover .item__container{
    border-image: url(./Images/br.png) 1 round;
}
.plan__price{
    display: flex;
    align-items: baseline;
    width: 70%;
    justify-content: center;
}
.plan__price .price{
    font-size: 60px;
    font-weight: 700;
    color: rgb(247,170,89);
    padding: 15px;
}
.plan__price p{
    font-weight: 700;
    font-size: 18px;
    color: black;
}
.plan__list .plan__item img{
    width: 125px;
}
.plan__item ul{
    padding-top: 15px;
    text-align: left;
    width: 90%;
    border-top: 1px solid rgba(183, 183, 183, 0.471);
}
.plan__item li{
    list-style: none;
    display: flex;
    padding: 5px 0px;
}
.plan__item li i{
    width: 26px;
    height: 26px;
    text-align: center;
    background-color: rgb(254,239,243);
    color: rgb(245,97,140);
    border-radius: 50%;
    margin-right: 15px;
    font-size: 12px;
    line-height: 26px;
}
.plan__item li p{
    color: black;
    font-size: 18px;
}

/* TESTIMONIAL */
.testimonial{
    background-image: url(./Images/bg17.png);
    background-size: 100%;
    background-position: center;
}
.testimonial__container{
    padding-top: 100px;
}
.testimonial__title{
    text-align: center;
}
.testimonial-content {
    max-width: 1199px;
    margin: auto;
    text-align: center;
    padding: 100px 0;
}
  
.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: rgb(245,97,140);
}
.testimonial-pic::before{
    content: "";
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(245,97,140);
    transform: translateX(-50%);
    opacity: 0;
}
.testimonial-pic::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(245,97,140);
    transform: translateX(-50%);
    opacity: 0;
}
.testimonial-pic .shape-bx{
    background-color: rgb(245,97,140);
    position: relative;
    width: 50px;
    height: 35px;
    left: 50%;
    bottom: 16px;
    transform: translateX(-50%);
    opacity: 0;
}
.testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-position: bottom;
    background-image: url(./Images/pattern12.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    transition: all 1s;
}
.testimonial-thumbs {
    width: 300px;
    margin: auto;
    box-sizing: border-box;
    height: 170px;
    position: relative;
}
.testimonial-comment {
    min-height: 300px;
    width: 100%;
}
.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}
.swiper-slide-thumb-active .testimonial-pic::after, .swiper-slide-thumb-active .testimonial-pic::before, .swiper-slide-thumb-active .testimonial-pic .shape-bx{
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: rgb(245,97,140);
}
.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.testimonial-text .testimonial-name{
    color: black;
    font-size: 22px;
}
.testimonial-text .testimonial-position{
    color:rgb(245,97,140);
    font-size: 18px;
    font-weight: 400;
}
.testimonial-text p{
    color: rgb(99, 99, 99);
    font-size: 18px;
    text-align: center;
    line-height: 1.6;
}
.testimonial-text i{
    font-size: 70px;
    color: rgb(245,97,140);
    transform: rotate(-180deg);
    position: absolute;
    top: 10px;
    left: 30px;
}


/* BLOG */

.blog{
    background-image: url(./Images/bg16.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.blog__title{
    text-align: center;
    padding-top: 50px;
}
.blog__content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 30px;
}
.blog__content .blog__item{
    background: rgba(245,95,141,.1);
    border-radius: 8px;
    
}
.blog__item__head p{
    position: absolute;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    bottom: -30px;
    left: 15px;
    color: #fff;
}
.blog__item .blog__item__head{
    position: relative;
}
.blog__item .blog__item__head img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.blog__item__body{
    padding: 30px 15px;
}
.blog__item__body h3{
    color: black;
    line-height: 1.6;
}
.blog__item__body p{
    color: rgb(99, 99, 99);
    line-height: 1.6;
}
.blog__item__footer{
    display: flex;
    align-items: center;
    border-top: 0.5px solid rgba(143, 143, 143, 0.397) ;
}
.blog__item__footer i{
    font-size: 22px;
    line-height: 1.6;
    vertical-align: sub;
}
.blog__item__footer p{
    color: rgb(245,97,140);
    font-size: 14px;
    padding: 10px 15px;
}

/* CONTACTS */

.subscribe{
    width: 100%;
    background-image: url(./Images/pattern3.png);
    background-position: bottom;
    background-color: white;
    display: flex;
    box-shadow: 0 0 30px 0 rgba(0,0,0,.1);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px 60px;
    margin-top: 50px;
    border-radius: 10px;
    position: relative;
}
.subscribe__title {
    width: 50%;
    color: black;
}
.subscribe__title h2{
    font-size: 28px;
}
.subscribe__form{
    width: 50%;
}
.subscribe__form form{
    box-shadow: 0 0 60px 0 rgb(0,0,0,.1);
    border-radius: 8px;
    display: flex;
}
.subscribe__form input{
    padding: 20px;
    font-size: 15px;
    color: rgb(99, 99, 99);
    border: white;
    flex-grow: 1;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.subscribe__form input:hover{
    border: 0.5px solid rgb(245,97,140);
    flex-shrink: 0;
}
.subscribe__form button{
    margin:0;
    border-radius: 5px;
    font-size: 16px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.subscribe__form button:hover i{
    animation: leftToRight 0.5s ease;
}
@keyframes leftToRight {
    49% {
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
}

.contact{
    background-image: url(./Images/bg4.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color:#0e1b1f ;
    position: relative;
}
.contact::before{
    content: "";
    background-image: url(./Images/pattern2.png);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
}
.contact__content{
    display: flex;
    padding: 80px 0px;
    width: 100%;
}
.contact__info{
    width: 25%;
}
.contact__item{
    width: 25%;
}
.contact__item h3{
    color: white;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 15px;
    position: relative;
}
.contact__item h3::before, .contact__item h3::after {
    content:"";
    position: absolute;
    bottom: 0;
    height: 4px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 20px;
}
.contact__item h3::before{
    width: 15px;
    left: 0;
}
.contact__item h3::after{
    width: 45px;
    left: 20px;
}
.contact__info li i{
    width: 40px;
    height: 40px;
    background: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
}
.contact__info p{
    font-size: 16px;
}
.contact__info li{
    list-style: none;
    display: flex;
    color: white;
    padding: 10px 0px;
}
.contact__info p{
    color: white;
}
.contact__item ul{
    padding-top: 10px;
}
.contact__item li{
    list-style: none;
    padding: 10px 0px;
}
.contact__item li a i{
    margin-right: 10px;
}
.contact__item a{
    text-decoration: none;
    color: rgb(99, 99, 99);
    transition: 0.5s;
    font-size: 16px;
    display: block;
}
.contact__item a:hover{
    color:white;
}
/* FOOTER */

.footer{
    background-color: #1f343b;
    padding: 10px 0px;
}
.footer__container{
    display: flex;
    justify-content: space-between;
}
.footer .copy__right p{
    color: white;
    font-size: 14px;
}
.footer .social__media a{
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    color: white;
    background-color: rgba(255,255,255,.1);
    font-size: 14px;
    display: inline-block;
    text-align: center;
    transition: all 0.5s;
}
.social__media a:hover{
    background-color: rgb(245,97,140);
}

/* Back To Top Button */
#myBtn {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    box-shadow: -4px 4px 24px -10px rgb(245,97,140);
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(245,97,140); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 8px; /* Rounded corners */
    font-size: 18px; /* Increase font size */

}
  
#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}